                                                       Python Assignment - SLICING

Name : Ayush Tijare

Date : 5/09/2024

Part 1: Basic Slicing

1.Introduction to Slicing:

a. Given a string s = "Hello, World!", slice and print the following:

i. The entire string.

ii. The first 5 characters.

iii. The last 5 characters.

iv. The string excludes the first and last characters.

v. Every second character in the string.

In [ ]:
# i. The entire string.

s = "Hello, World!"
print(s[:])            # Prints entire string

Hello, World!

In [9]:
# ii. The first five characters.

print(s[0:5])          # Prints characters starting from index position 0 till 5

Hello

In [11]:
# iii. The last five characters.

print(s[8:])         # using positive indices
print(s[-5:])        # using negative indices

orld!
orld!

In [ ]:
# iv. The string excludes the first and last character

print(s[1:12])      # using positive indices
print(s[-12:-1])    # using negative indices
print(s[1:-1])

ello, World
ello, World
ello, World

In [ ]:
# v. Every second character in the string.

print(s[::2])

Hlo ol!

2.Slicing with Negative Indices:


a.Use negative indices to slice and print the following from the strings:
1. The last 3 characters.
2. All characters except the last 2.
3. The string reversed.

In [ ]:
# 1. The last 3 characters

s = "Hello, World!"
print(s[-3:])             # Prints last 3 caharacters by using negative

In [ ]:
# 2. All Characters except last 2

print(s[:-2])             # Step-size skip characters from both sides

Hello, Worl

In [ ]:
# 3. The string reversed.

print(s[::-1])           # Reverses the string

!dlroW ,olleH

Part 2: Advanced Slicing
1. Slicing Substrings:

a. Given a string sentence = "The quick brown fox jumps over the lazy
dog", slice and print the following:

i. The word "quick".

ii. The word "lazy".

iii. The words "brown fox jumps"

In [2]:
sentence = "The quick brown fox jumps over the lazy dog"

# i.  The word "quick"

print(sentence[4:9])       # Starting from index 0, 'quick' starting from position 4, ending on 9

quick

In [3]:
# ii.  The word "lazy"

print(sentence[35:40])     # 'lazy' starting from position 35, ending on 40

lazy

In [4]:
# iii. The words "brown fox jumps"

print(sentence[10:25])     # 'brown fox jumps' starting from position 10, ending on 25

brown fox jumps

2. Step Slicing:

a. Use step slicing to print the following from the string s:

i. Every third character.

ii. Every third character starting from the second character.

iii. The string reversed, stepping by 2.

In [ ]:
# i. Every third character

s = "Hello, World!"
print(s[::3])             # Prints entire string by skipping 3 characters using step size

Hl r!

In [ ]:
# ii. Every third character starting from the second character.

print(s[1::3])           # Prints every 3 character from starting

eoWl

In [ ]:
# iii. The string reversed, stepping by 2.

print(s[::-2])

!lo olH

Part 3: Practical Application

1. Extracting Information:

a. Given a string data = "2024-09-01,Sunny,25°C", extract and print
the following:

i. The date.

ii. The weather condition.

iii. The temperature

In [7]:
# i. The date
data = "2024-09-01,Sunny,25°C"     # We can do it using SPLIT, using ',' as separator

date = data.split(',')            # We created a variable which will contain and perform split operation on data

print("The date -",date[0])       # We gave index position 0 for date in data

The date - 2024-09-01

In [8]:
# ii. The weather condition

weather = data.split(',')          # Here also we created a variable named weather

print("The weather condition -",weather[1])     # Index position is 1 for weather condition

The weather condition - Sunny

In [9]:
# iii. The temperature

temperature = data.split(',')

print("The temperature -",temperature[2])  # In the data string the required temperature is at index position 2

The temperature - 25°C

2. Reformatting Strings:

i. Given a string phone_number = "(123) 456-7890", reformat
it to ‘123-456-7890’

In [8]:
phone_number = "(123) 456-7890"

num1 = phone_number[1:4]        # For first 3 numbers created variable starting position 1, ending 4

num2 = phone_number[6:9]        # For first 3 numbers created variable starting position 6, ending 9

num3 = phone_number[10:13]      # For first 3 numbers created variable starting position 10, ending 13

phone_num = (num1,num2,num3)     # Created to variable to combine

print(('-'.join(phone_num)))        # Combined using join

123-456-789

Part 4: Questions based on string methods

1. Upper and Lower Case Conversion:

i. Given a string s = "Hello, World!", perform the following:

a. Convert the string to all uppercase letters.

b. Convert the string to all lowercase letters.

c. Convert the string to title case.

d. Capitalize the first letter of the string.

In [3]:
# a. Convert the string to all uppercase letters.
s = "Hello, World!"
print(s.upper())                   # Converts whole string in upper case

HELLO, WORLD!

In [ ]:
# b. Convert the string to all lowercase letters.

print(s.lower())                   # Converts whole string lower case

hello, world!

In [2]:
# c. Convert the string to title case.

print(s.title())

Hello, World!

In [4]:
# d. Capitalize the first letter of the string.

print(s.capitalize())               # Converts first alphabet of string capital

Hello, world!

2. Finding Substrings:

 Given a string s = "The quick brown fox jumps over the lazy dog",
perform the following:

a. Find the position of the substring "fox".

b. Check if the substring "cat" is in the string.

In [ ]:
# a. Find the position of the substring "fox"

s = "The quick brown fox jumps over the lazy dog"

print(s.find("fox"))          # Finds the substring and prints if present

16

In [5]:
# b. Check if the substring "cat" is in the string.

print(s.find("cat"))        # If substring does not exist returns -1

-1

3. Replacing Substrings:

 Given a string s = "The quick brown fox jumps over the lazy dog",
perform the following:

a. Replace "fox" with "cat".

b. Replace all spaces with underscores.

c. Split the string into a list of words.

d. Split the string by the letter 'o'.

In [ ]:
# a. Replace "fox" with "cat"

s = "The quick brown fox jumps over the lazy dog"

print(s.replace('fox','cat'))       # Replaces susbtring fox with cat

The quick brown cat jumps over the lazy dog

In [ ]:
# b. Replace all spaces with underscores.

print(s.replace(' ',','))         # Replaces ' ' with ","

The,quick,brown,fox,jumps,over,the,lazy,dog

In [ ]:
# c. Split the string into a list of words.

print(s.split())                  # Splits the string in smaller parts in square brackets

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [6]:
# d. Split the string by the letter 'o'.

print(s.split('o'))              # Splits the string by specified separatror

['Hell', ', W', 'rld!']

4.Joining Strings:

 Given a list of words
 words = ["The", "quick", "brown", "fox"],
 perform the following:

a. Join the words with spaces.

b. Join the words with hyphens

In [ ]:
# a. Join the words with spaces.

words = ["The", "quick", "brown", "fox"]

print(' '.join(words))           # Combines multiple substrings into one

The quick brown fox

In [ ]:
# b. Join the words with hyphens

print('-'.join(words))          # Joined by using hypen

The-quick-brown-fox