         
                
                         
                                               Python Assignment: Variables, Operators and Type Casting

Name : Ayush Tijare                  

Date : 29/08/24

1. Understanding Variables:

- Variables are name given that refers to a value.

- They act as a container to store the data allowing us to
  manipulating, reuse and locating the data throughout the program.

- Python itself considers the data type we are assigning to a variable.

In [44]:

my_name = "Ayush Tijare"    # My_name is the variable, 'Ayush Tijare' is the value stored in variable.
print(type(my_name))          # Checking the data type

<class 'str'>

What is the difference between a variable and a constant? Can we have constants in Python?


- Variables - The variables can be changed easily which holds the values for data types they have mutability which helps in updating the values of the variable .

- Constants - It is a special type of variable whose value cannot be changed throughout the execution of Program while in Variables it can be changed easily.

- But there are no constants in Python unlike other programming languages. Values can always be changed if we print the below code we can find it out easily

2. Working with different data types

a. Create variables of following data types in Python:
  1. Integer
  2. Float
  3. String
  4. Boolean

In [14]:
# 1. Integer (Contains numeric values)
my_integer = 967
print(type(my_integer))

# 2. Float (Contains numeric values but with decimal places)
my_decimal = 7.98
print(type(my_decimal))

# 3. String (Contains values in text format)
my_text = "Values in text"
print(type(my_text))

# 4. Boolean (refers to a data type that can have one of two values: True or False)
x = True
y = False

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

3. Arithmetic Operators
- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division (/)
- Floor Division (//)
- Modulus (%)
- Exponentiation (``)

In [45]:
# Addition(+) : Used to add two numbers together.
x = 4
y = 8
Addition = (x + y)
print("Value for Addition:", x+y)
print(type(Addition))

Value for Addition: 12
<class 'int'>

In [46]:
# Subtraction(-) : Used to subtract one number from another.
a = 12
b = 2
Sub = a - b
print("Value for Subtraction:", a-b)
print(type(Sub))

Value for Subtraction: 10
<class 'int'>

In [47]:
#Multiplication(*): Used to multiply two numbers.
g = 2500
h = 25
Multiply = (g * h)
print("Value for Multiplication:", g*h)
print(type(Multiply))

Value for Multiplication: 62500
<class 'int'>

In [48]:
#Division(/): Used to divide one number by another. The result is a float.
i = 15
j = 4
Div = (i/j)
print("Value for Divison:", i/j)
print(type(Div))

Value for Divison: 3.75
<class 'float'>

In [49]:
#Floor Division(//) : Used to divide two numbers and return the integer part of the quotient (rounds down).
l = 25
m = 7
Floor = (25//7)
print("Value for Floor Division:", l//m)
print(type(Floor))

Value for Floor Division: 3
<class 'int'>

In [50]:
#Modulus(%): Returns the remainder after dividing one number by another.
p = 10
q = 3
Modulus = (10 % 3)
print("Value for Modulus:", p%q)
print(type(Modulus))

Value for Modulus: 1
<class 'int'>

In [51]:
#Exponentiation (**): Raises one number to the power of another
u = 69
v = 4
Expo = (69 % 4)
print("Value for Exponentiation:", u**v)
print(type(Expo))

Value for Exponentiation: 22667121
<class 'int'>

Q.  Write a Python script to calculate the area of a rectangle using variables `length`and `width` with values 5 and 10, respectively. Use the multiplication operator.

In [20]:
Length = 5               # Assigning variables for calculating length and width
Width = 10

Area = Length * Width    # Calculating area using multiplication operator and formula

print("Area of the Rectangle = ",Area)

Area of the Rectangle =  50

4. Comparison and Logical Operators
  a. Explain the following comparison operators with examples:
   1. Equal to (==)
   2. Not equal to (!=)
   3. Greater than (>)
   4. Less than (<)
   5. Greater than or equal to (>=)
   6. Less than or equal to (<=)

- Comparison operators are used to compare two values, and the result is a boolean value.
- The output will be either True or False.

In [52]:

# 1. Equal to (`==`): Checks if two values are equal.
a = 96
b = 82
c = 96
print(a==b)  # Output = False
print(a==c)  # Output = True

False
True

In [53]:
# 2. Not equal to (!=): Checks if two values are not equal.
i = 47
j = 9
k = 47
print(i!=j)  # Output = True
print(i!=k)  # Output = False

True
False

In [54]:
# 3. Greater than (>): Checks if the left operand is greater than the right operand.
l = 34
m = 66
print(l>m)   # Output = False
print(m>l)   # Output = True

False
True

In [55]:
# 4. Less than (<): Checks if the left operand is less than the right operand.
o = 54
p = 44
print(o<p)   # Output = False
print(p<o)   # Output = True

False
True

In [56]:
# 5. Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right operand.
r = 45
s = 18
t = 45
print(r >= s)   # Output = True
print(r >= t)   # Output = True
print(s >= r)   # Output = False

True
True
False

In [57]:
# 6. Less than or equal to (<=): Checks if the left operand is less than or equal to the right operand.
u = 10
v = 6
w = 10
print(u <= v)   # Output = False
print(u <= w)   # Output = True
print(v <= u)   # Output = True

False
True
True

Q. Using logical operators (and, or, not), write a Python script that checks if a number is positive and even.

In [61]:

Value = int(input("Enter the value: "))  # Taking input from user

if Value != 0:
    if Value > 0 and Value % 2 == 0:     # Giving conditions to check value is positive and even
       print(Value, "is positive and even")

    elif Value > 0 and Value % 2 != 0:     #Using Nested-if to check if value is postitive and odd
       print(Value, "is positibve and odd")

    else:                                 #Else print it is a negative value
       print("Error,Number is negative")

else:                                # Giving Command to display instruction for user if condition is not fulfilled
      print("Value is Zero")

Enter the value: 46
46 is positive and even

5. Type Casting in Python

- Type Casting helps in converting value of one data type into another data type as per the user's will for the execution of program

- It can be Implicit or Explicit depending on whether the conversion is handled by Python itself or by the programmer

1. Implicit Data Type:
-- Python automatically converts one data type to another without any interference of Programmer.

-- It occurs with involvement of different data types in an operation and python converts the types to avoid errors and data loss

In [59]:
num_integer = 5        # integer
num_float = 4.6        # float

result = num_integer + num_float     # implicit conversion of integer to float
print(result)                        # Output: 9.6(integer is converted to float) thus avoiding the loss of data by rounding it down
print(type(result))                  # Python implicitly converts num_int from an integer to a float during the addition operation.

9.6
<class 'float'>


2. Explicit Data Type:
-- The programmer manually converts one data type to another using built-in functions like int(), float(), str().

In [60]:
num_string = "100"          # string
num_integer = int(num_string)  # explicit conversion from string to integer

print(num_integer)         # Output: 100
print(type(num_integer))   # In this case, int() is used to explicitly convert the string "100" to an integer.

100
<class 'int'>

Write a Python script that:
  1. Converts a float to an integer.
  2. Converts an integer to a string.
  3. Converts a string to a float.

In [62]:
# 1. Converts a float to an integer
my_float = 48.45
my_integer = int(my_float)   # Explicit conversion from float to integer
print(my_float,"float converted to integer:",my_integer)
print(type(my_integer))

48.45 float converted to integer: 48
<class 'int'>

In [63]:
# 2. Converts an Integer to a String
my_integer = 37
my_string = str(my_integer)  # Explicit conversion from integer to string
print(my_integer,"integer converted to string:",my_string)
print(type(my_string))

37 integer converted to string: 37
<class 'str'>

In [64]:
# 3. Converts a string to a float
my_string = "66.78"
my_float = float(my_string)  # Explicit conversion from string to float
print("string converted to float:",my_float)
print(type(my_float))

string converted to float: 66.78
<class 'float'>

6. Practical Exercise: Mini Calculator
  Write a Python script that asks the user to input two numbers and then:
 - Adds the two numbers and prints the result.
 - Subtracts the second number from the first and prints the result.
 -  Multiplies the two numbers and prints the result.
 -  Divides the first number by the second and prints the result
    (handle division by zero).
 - Converts the sum of the numbers to a string and prints the type of the result.

In [67]:
num1 = float(input("Enter the first number: "))      # Taking input from user
num2 = float(input("Enter the second number: "))     #Using float because number can be in decimal

Operation_to_be_Performed = input("Enter the Operation to be Performed on the numbers: First letter capital - ")    # Asking user the calculation he wants to do

if Operation_to_be_Performed == ("Addition"):        # Giving command to perform addition if the user asked calculation matches conditional string
          print("Value for Addition: ",num1 + num2)

if Operation_to_be_Performed == ("Subtraction") :   # Using Nested If's so that there is no negative output

       if num1 > num2 :                             # If num1 is greater then only calculation takes place else it will give error
         print("Subtraction:", num1 - num2)

       else:
        print("Error, Second value is greater than first value answer will be in negative")


elif Operation_to_be_Performed == ("Multiplication"):
        print("Multiplication:", int(num1 * num2))


elif Operation_to_be_Performed == ("Division") : # Division cannot take place if denominator is zero
        if num2 != 0:
            print("Division:",num1/num2)

        else:
            print("Error, Division with zero not possible. Enter another value")

Enter the first number: 14
Enter the second number: 0
Enter the Operation to be Performed on the numbers: First letter capital Division
Error, Division with zero not possible